<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCameraUsageDescription</key>
	<string>Food Diary uses your camera to scan nutrition labels and autofill macro fields.</string>
	<key>AUTH0_DOMAIN</key>
	<string>$(AUTH0_DOMAIN)</string>
	<key>AUTH0_CLIENT_ID</key>
	<string>$(AUTH0_CLIENT_ID)</string>
	<key>AUTH0_SCHEME</key>
	<string>$(AUTH0_SCHEME)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>$(AUTH0_SCHEME)</string>
			</array>
		</dict>
	</array>
	<key>UILaunchScreen</key>
	<dict/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
</dict>
</plist>
